In [28]:
#Q1 Discuss string slicing and provide examples.
#Ans. String slicing is a technique in which we are extract the substring from a main string.
#Example:
name="PWSkills"
print(name[0:5])

PWSki

In [2]:
#Q2 Explain the key features of lists in Python
#Ans. Key features of list is:-
# 1. it is muttable.
# 2. it is support duplicate itmes.
# 3. it contains diffrent types of items
# 4. it is arrange in ordered
# 5. it is support indexing

In [30]:
#Q3 Describe how to access, modify and delete elements in a list with example
# Ans. 1. Access:- in python we can acess elements by their index.
# Example:-
num=[5, 6, 7, 8]
f1= num[0]
f2= num[1]
f3= num[2]
print(f1, f2, f3)

5 6 7

In [31]:
# Modifying Elements:-
# We can modify a list by assign new value in a specific index.
# Example:-
num=[5, 6, 7, 8]
num[0]=8
num[1]=9
print(num)

[8, 9, 7, 8]

In [32]:
# Delete Elements:-
# we can delete elements by using remove(), pop(), del functions.
# Example:-
num=[5, 6, 7, 8]
num.remove(6)
num.pop()
print(num)

[5, 7]

In [6]:
#compare and contrast tupple and list with example.
# Ans. Feature	List	Tuple
# Mutability	Mutable	Immutable
# Syntax	[]	()
# Performance	Slower	Faster
# Use Cases	Collections that may change	Collections that should remain constant
# Methods	Many built-in methods	Fewer built-in methods
# Example of lis:-
# Creating a list
my_list = [10, 20, 30, 40, 50]

# Accessing elements
print(my_list[1])  # Output: 20

# Modifying elements
my_list[1] = 25
print(my_list)  # Output: [10, 25, 30, 40, 50]

# Adding elements
my_list.append(60)
print(my_list)  # Output: [10, 25, 30, 40, 50, 60]

# Removing elements
my_list.remove(25)
print(my_list)  # Output: [10, 30, 40, 50, 60]

20
[10, 25, 30, 40, 50]
[10, 25, 30, 40, 50, 60]
[10, 30, 40, 50, 60]

In [7]:
# Example of tupple:-
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Accessing elements
print(my_tuple[1])  # Output: 20

# Attempting to modify elements (this will raise an error)
try:
    my_tuple[1] = 25
except TypeError as e:
    print(e)  # Output: 'tuple' object does not support item assignment

# Tuples do not have methods like append() or remove()
# We can, however, concatenate tuples to create a new one
new_tuple = my_tuple + (60,)
print(new_tuple)  # Output: (10, 20, 30, 40, 50, 60)

# We can also use tuple unpacking
a, b, c, d, e = my_tuple[:5]
print(a, b, c, d, e)  # Output: 10 20 30 40 50

20
'tuple' object does not support item assignment
(10, 20, 30, 40, 50, 60)
10 20 30 40 50

In [8]:
#Q5 Describe key features of sets and provide example with their uses
# Ans. 1. Unordered:- Set do not follow any particular ordered of elements 

# Example: {3, 1, 2} is considered the same as {1, 2, 3}.
# 2. unique elements:- sets do not follow duplicate elements

# Example: {1, 2, 2, 3} will be stored as {1, 2, 3}.
# 3. Mutable: Elements can be added or removed from a set.

# Example: set.add(4) will add 4 to the set, and set.remove(2) will remove 2.
# Union: Combines all elements from two sets.

# Example: {1, 2, 3} | {3, 4, 5} results in {1, 2, 3, 4, 5}.
# Intersection: Returns only the elements that are in both sets.

# Example: {1, 2, 3} & {3, 4, 5} results in {3}.
# Difference: Returns elements in one set but not in the other.

# Example: {1, 2, 3} - {3, 4, 5} results in {1, 2}.
# Symmetric Difference: Returns elements in either of the sets, but not in both.

# Example: {1, 2, 3} ^ {3, 4, 5} results in {1, 2, 4, 5}.

# Remove duplicate elements:-
s=[1,2,3,3,4]
set(s)

{1, 2, 3, 4}

In [34]:
#Membership Testing
s={1,2,3,5}
2 in s

True

In [10]:
#set operation
students_in_class_A = {'John', 'Jane', 'Tom'}
students_in_class_B = {'Tom', 'Harry', 'Emma'}

all_students = students_in_class_A | students_in_class_B  # Union
print(all_students)  # Output: {'John', 'Jane', 'Tom', 'Harry', 'Emma'}

common_students = students_in_class_A & students_in_class_B  # Intersection
print(common_students)  # Output: {'Tom'}

students_only_in_A = students_in_class_A - students_in_class_B  # Difference
print(students_only_in_A)  # Output: {'John', 'Jane'}

unique_students = students_in_class_A ^ students_in_class_B  # Symmetric Difference
print(unique_students)  # Output: {'John', 'Jane', 'Harry', 'Emma'}

{'John', 'Harry', 'Jane', 'Tom', 'Emma'}
{'Tom'}
{'John', 'Jane'}
{'Harry', 'John', 'Jane', 'Emma'}

In [11]:
#Unique collection
num={5,6,4,7}
num.add(9)
num

{4, 5, 6, 7, 9}

In [12]:
#Data Validation
num={77,88,99,33,44}
num1= 55
if num1 in num:
    print("Number already exists")
else:
    num.add(num1)
num

{33, 44, 55, 77, 88, 99}

In [13]:
#Discuss the use cases of tuples and sets in Python programming.
# Ans. Tuple classification:-
# 1. it is ordered collection of elements that can be various data type
# 2. it is immutable 
# 3. it is support indexing
# 4. it is allow duplicate elements

In [14]:
# Example of immutability
num=(1,2,3,4,5,6)
num[2]=9
num

TypeError: 'tuple' object does not support item assignment

In [15]:
#Indexing of tuple
num=(1,2,3,4,5,6)
num[3]

4

In [16]:
# sets classification:-
# 1. it is unordered collection of elements
# 2. it is support indexing
# 3. it is Mutable 
# 4. it is not allow duplicate elements
# 5. we are perform union, intersection, difference operation in sets

In [17]:
s=set()
s.add(1)
s.add(2)
s.add(3)
s

{1, 2, 3}

In [18]:
s1={1,2,3,6,8}
s2={10,20,30,8}
s1.intersection(s2)

{8}

In [19]:
s1={1,2,3,6,8}
s2={10,20,30,8}
s1.union(s2)

{1, 2, 3, 6, 8, 10, 20, 30}

In [20]:
s1={1,2,3,6,8}
s2={10,20,30,8}
s2.difference(s1)

{10, 20, 30}

In [21]:
# Describe how to add, modify, and delete items in a dictionary with examples
# Ans. Dictionary Classification:-
# 1.Dictionaries are key-value pairs that allow you to store and retrieve data based on a unique key.
# 2.in dictionary keys are immutable.
# 3.Dictionaries are useful for storing data that needs to be accessed quickly and efficiently.
# 4.we can use add, modify, delete operation in dictionary.

In [22]:
# Adding Items to a Dictionary
# To add a new key-value pair to a dictionary, you simply assign a value to a new key.
# Creating a dictionary
student = {"name": "Alice", "age": 21}

# Adding a new key-value pair
student["grade"] = "A"

print(student)

{'name': 'Alice', 'age': 21, 'grade': 'A'}

In [23]:
# Modifying Items in a Dictionary
# To modify an existing item, you assign a new value to an existing key.
# Modifying an existing key-value pair
student["age"] = 22

print(student)

{'name': 'Alice', 'age': 22, 'grade': 'A'}

In [24]:
# Deleting Items from a Dictionary
# You can delete items using the del keyword, the pop() method, or the popitem() method.
# Deleting a key-value pair
del student["grade"]

print(student)

{'name': 'Alice', 'age': 22}

In [25]:
# Example using popitem():
# Adding items again for demonstration
student["age"] = 22
student["grade"] = "A"

# Using popitem() to remove and return the last key-value pair
item = student.popitem()

print(item)
print(student)

('grade', 'A')
{'name': 'Alice', 'age': 22}

In [26]:
# Example using pop():
# Using pop() to remove a key-value pair and get the value
age = student.pop("age")

print(age)
print(student)

22
{'name': 'Alice'}